.a
{
    border: rgb(33, 1, 122);
}

.b
{
    background-color: rgb(5, 8, 155);
    background: linear-gradient(180deg, #9898ff,#0000ff);
}

.c
{
    background-color: red;
}
.d
{
    display: flex;
    justify-content: center;
}